
form {
    border: 3px solid lightblue;
   
}

/* Full-width inputs */
input[type=text], input[type=password] 
{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 15%;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 10px 0 10px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 30%;
}

/* Add padding to containers */
.container {
    padding: 5px;
}

/* The "Forgot password" text */
span.psw {
    float: center;
    padding-top: 10px;

 }
 span.error{
       color:red;   
 }
 
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}