﻿
	
	
	body {
		background-image: url("file:///C:/Users/avinash/Desktop/test/img/2.jpg"); 
		color: #CC3300;
		text-align: center;
	}

	h1{
		color: #3D3DF3;
		font-family: times
		font-size:300%;
		border: 3px solid #3333F5;
	  	padding: 10	px;
	  	margin: 10px;
	  }
	p{
		text-align: left;
		font-size: 200%; 
		font-family: verdana
		background-color:black;
		color: #1296B9;
	}
	#p01{
		text-align: right;
		color: #BDA808;
		font-family: arial;
	}
	#preg1{
		text-align: center;
		color: #BDA808;
		font-family: arial;
	}

	p.error{

		color: red;
	}
	

a
 {
 	color:black; background-color:transparent; 
 	//border: 3px solid #3333F5;
	  	padding: 10	px;
	  	margin: 10px;
 }
 a:hover
 {
 	color: red; text-decoration: underline;
 }

table{

		width: 40%;
		height: 80%;
     table-layout: center;
  	 
    border-spacing:3px; 
    border-collapse: collapse;
    



}

thead {color:green;}

tbody {color:blue;}

tfoot {color:red;}

th, tr, td 
{			
		  font-style: 
		  font-size: 25px;
		  text-align: left;
		  font-family: verdana;
		   color: black;
		   
}
td.img2
{	
		   
		   text-align: center;
		   

}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

